<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">

        <table width = "400" >
            <tr height="50" bgcolor="gray">
                <th colspan="2" align="left">Step1 : 아이디/비번 입력</th>

            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td width = "150">아이디</td>
                <td align="left"><input type="text"></td>
            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td>비밀번호</td>
                <td align="left"><input type="password"></td>
            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td>비밀번호 확인</td>
                <td align="left"><input type="password"></td>
            </tr>
        </table>

        <table width = "400" >
            <tr height="50" bgcolor="gray">
                <th colspan="2" align="left">Step2 : 개인정보</th>

            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td width = "150">성별</td>
                <td align="left">
                    남<input type="radio" name="mbti" id=""> 
                    여<input type="radio" name="mbti" id=""> 
                </td>
            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td>혈액형</td>
                <td align="left">
                    <select name="">
                        <option value="">A형</option>
                        <option value="">B형</option>
                        <option value="">O형</option>
                        <option value="">AB형</option>
                    </select>
                </td>
            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td>생일</td>
                <td align="left"><input type="date"></td>
            </tr>
        </table>

        <table width = "400" >
            <tr height="50" bgcolor="gray">
                <th colspan="2" align="left">Step3 : 선호도</th>

            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td width = "150">취미</td>
                <td align="left">
                    축구<input type="checkbox">
                     야구<input type="checkbox">
                     농구<input type="checkbox">
                </td>
            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td>좋아하는 색깔</td>
                <td align="left">
                    <input type="color">
                </td>
            </tr>
        </table>

        <table width = "400" >
            <tr height="50" bgcolor="gray">
                <th colspan="2" align="left">Step4 : 적고 싶은 말</th>

            </tr>
            <tr height="35" align="right" bgcolor="whitesmoke">
                <td align="center"><textarea style="width: 385px; height: 150px;"></textarea></td>
            </tr>

        </table>

        <table width = "400" bgcolor="whitesmoke">
            <tr>
                <td align="center">
                    <input type="submit" value="제출" >
                    <input type="reset" value="초기화">
                </td>
            </tr>
        </table>
        
        
    </form>
</body>
</html>